.capture_btn{
    position: fixed;
    background-color: red;
    left: 50%;
    z-index: 9999;
    bottom: 8rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
}
.mask_btn{
    position: fixed;
    background-color: cyan;
    left: 40%;
    z-index: 9999;
    bottom: 8rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
}
.reset_btn{
    position: fixed;
    background-color: rgb(38, 0, 255);
    left: 60%;
    z-index: 9999;
    bottom: 8rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
}
.debug_btn{
    position: fixed;
    background-color: rgb(225, 0, 255);
    left: 80%;
    z-index: 9999;
    bottom: 8rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.preview_modal{
    position: fixed;
    max-width: 60vw;
    max-height: 50vh;
    
    left: 0;
    top: 0;
    z-index: 99;
    box-shadow: 0 0px 50px 0 color-mix(in srgb, var(--accent1) 30%, transparent);
}

.image_preview_wrapper{
    overflow: hidden;
    display: block;
    position: relative;
}

.rect1{
    display: block;
    width: 20vw;
    height: 20vw;
    position: fixed;
    left: 10vw;
    top: 20vw;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7); /* Darken the background */
}

.rect2{
    display: block;
    width: 10vw;
    height: 20vw;
    position: fixed;
    left: 10vw;
    top: 20vw;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #fff; /* Neutralize the dark background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
    z-index: 10;
}

.overlay_bg{
    position: fixed;
    background-color: transparent;
    z-index: 8;
    display: block;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

}

.overlay_effect{
    position: fixed;
    /* background-color: rgba(0, 0, 0, 0.6); */
    z-index: 9;
}

.overlay_effect.full{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}


@keyframes maskAnim{
    0%, 100%{
        border-color: var(--accent1);
        opacity: .4;
    }
    50%{
        border-color: var(--accent2);
        opacity: 1;
    }
}

.overlay_effect.mask{
    background: color-mix(in srgb, var(--accent1) 10%, transparent);
    border: 1px solid var(--accent1);
    box-shadow: 0 0px 50px 0 color-mix(in srgb, var(--accent1) 30%, transparent);
    z-index: 10;
    animation: maskAnim 2s ease-in-out infinite;
}


.captured_raw_image{
    width: 100vw;
    position: absolute;
}

.dbg1{
    background-color: rgba(255,0,0, .3);
}
.dbg2{
    background-color: rgba(125, 214, 83, 0.3);
}
.dbg3{
    background-color: rgba(0, 140, 255, 0.3);
}
.dbg4{
    background-color: rgba(219, 38, 195, 0.3);
}